.scroll-list {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-position: inside;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.scroll-header {
  position: static;
  display: flex;
  box-sizing: border-box;
  border: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.stick {
  cursor: pointer;
  position: sticky;
  z-index: 10;
  top: 0;
}

.push {
  cursor: pointer;
  position: sticky;
  z-index: 10;
  top: 0;
}

.scroll-item {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
